@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

* {
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.free-green-text {
  color: #054721;
}

.free-green-bg {
  background-color: #054721;
}